PUBLIC_BASE_URL=http://localhost:8080
ONLYOFFICE_URL=http://localhost:8081
ONLYOFFICE_JWT_SECRET=onlyoffice-jwt-secret-change-me
JWT_ACCESS_SECRET=change-me-access-please
JWT_REFRESH_SECRET=change-me-refresh-please
